$font-stack: Helvetica, sans-serif;
$default-margin-bottom: 20px;

body {
  font: 100% $font-stack;
}

.footer-class {
    bottom: 0;
    position: absolute;
}

.navbar-spacing {
    margin-bottom: $default-margin-bottom;
}